:root{
    /* Primary */
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
    --Desaturated-Dark-Cyan-opaced: rgba(91, 164, 164, 0.102);

    /*Neutral */
    --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
    --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    --White:#FFF;

    font-weight: 700;
    font-family: Spartan,sans-serif;
    font-size: 14px;
    color: var(--Desaturated-Dark-Cyan);
}
body{
    background-color: var(--Light-Grayish-Cyan-Background);
}
.header{
    background-repeat: repeat;
    background-size: auto;
    height: 5em;
    background-color: var(--Desaturated-Dark-Cyan);
}
.main-container{
    width: 100%;
    display: flex;
    margin-top: 5em;
    margin-bottom: 5em;
    justify-content: center;
    align-items: center;
}

.main-container__job-list{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.job-list__card-job{
    box-shadow: 0px 4px 15px 0px var(--Dark-Grayish-Cyan);
    border-radius: 1em;
    position: relative;

    display: flex;

    margin-top: 2em;
    margin-bottom: 2em;
    overflow:visible;
}
/* .job-list__card-job:hover .card-job__selectable-decoration{
    transform: translateX(0);
} */
.card-job__selectable-decoration{
    background-color: var(--Desaturated-Dark-Cyan);
    width: 8px;
    height: 100%;
    position: absolute;
    left: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

/*     transform: translateX(-8px);
 *//*     transition: transform .3s;
 */
}
/* IMG and description */
.card__description{
    display: flex;
/*     background-color: red;
 */    align-items: center;
    position: relative;


}
.description__img-company{
    /* height: 100%; */
}
/* Text in the description */
.description__info{
    display: flex;
    flex-direction: column;
/*     background-color: mediumseagreen;
 */    
    height: 100%;
    width: max-content;
    max-width: max-content;

}
.description__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}
.description__header>:nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}
.header__company{
}
.header__marker{/* NEW | FEATURED */
    border-radius: 12px;
    padding: 6px  8px 3px 8px;
    color: white;
    font-size: 12px;

}
.label_new{
    background-color: var(--Desaturated-Dark-Cyan);
    
}
.label_feature{
    background-color: var(--Very-Dark-Grayish-Cyan);
}

.card-header__tittle{
    color: black;
    font-size: 16px;
}

.card__card-footer{/* 1Day aho, Full time, USA only */
    font-weight: 500;
    color: var(--Dark-Grayish-Cyan);

}
.card-footer__item{

}
.card__card-footer>*:not(:first-child)::before{
    content: " • ";
}

.card__job-requirements{
/*     background-color: yellow;
 */
    display: flex;



}

.marker{

}

.marker-background{
    background-color: var(--Desaturated-Dark-Cyan-opaced);
    padding: 5px;
    border-radius: 5px;
}
.marker-background:hover{

    background-color: var(--Desaturated-Dark-Cyan);
    color: white;
    cursor: pointer;

}
@media screen and (min-width:360px){
    .header{
        background-image: url(images/bg-header-mobile.svg);
    }
    .main-container__job-list{
        max-width: 1440px;
    }
    
    .job-list__card-job{
        height: 255px;

        min-width: 320px;
        max-width: /* 1120px */90%;
        width:325px ;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        padding-top: 1em;
        padding-bottom: 1em;
        
        overflow: visible;

    }
    .card__description{
        width: 90%;
        max-width: 90%; 
        flex-basis: min-content; 
        flex-grow: 3;
        max-height: 53%;

    }
    .description__img-company{
        height: 4em;
        position: absolute;
        top: -3em;
    }
    .card__job-requirements{
        width: 90%;
        max-width: 90%;  
        margin-right: 0em;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        max-height: 47%;

        flex-basis: min-content; 
        flex-grow: 2;
    }
    .description__info{  
        margin-left: 0em;
        justify-content: space-evenly;

    }

}
@media screen and (min-width:420px){

}
@media screen and (min-width:890px){
    .header{
        background-image: url(images/bg-header-desktop.svg);
    }

    .main-container__job-list{
        max-width: 100%;
    }

    .job-list__card-job{
        height: 150px;

        min-width: max-content;
        max-width: /* 1120px */78%;
        width:1120px ;


        padding-top: 0em;
        padding-bottom: 0em;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;


    }
    .card__description{
        margin-left: 2em;
        width: max-content;
        max-width: max-content;  
        height: 60%;
    }
    .description__img-company{
        height: 100%;
        position: static;
    }
    .card__job-requirements{
    
        width: 450px;
        max-width: 450px;

        margin-right: 2em;
        flex-direction: row;
        justify-content: space-between;
    }
    .description__info{  
        margin-left: 1em;
        justify-content: space-between;

    }
}